/* le corps du document doit être écrit en helvetica.*/
/* les titres de niveau 1 doivent être centrés et écrits en rouge.*/
/* tous les titres de niveau 2 doivent soulignés.*/
/* les titres de niveau 2 dans les sections doivent être verts.*/
/* les titres 2 de niveau dans les articles doivent être bleus.*/
/* les paragraphes suivant directement un titre de niveeau 2 doivent être en rouge italique.*/
/* les paragraphes suivant un titre de niveau 1 doivent être en violet.
*/
body {
    font-family: Helvetica;
}
h1 {
    text-align: center;
    color: red;
}

article h2 {
    color: blue;
}

section h2 {
    color: green;
}
h2+p {
    color: red;
    font-style: italic;
}
h1+p {
    color: purple;
}